:root{
  --max-width: 15em;
}

body{
    color: white;
    width: 100%;
    height: 100%;

    background: #000000;
    --gap: 7em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);

    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);

}

.three h1 {
    font-size: 5.5vw;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    font-family: monospace;
  }
  .three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: var(--heading-length);
    transition: all 1s;
    background-color: white;
  }

  .three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: var(--max-width);
    background-color: white;
  }

button {
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    font-family:monospace;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 1em;
    background-color : var(--btn-bg, transparent);
    padding: 10px;
    outline: none;
    border-radius: 4px;
    height: 75px;
    width: 200px;
}

button:hover {
    color: #001F3F;
    background-color: var(--btn-bg, #fff);
    cursor: pointer;
}

#question{
    font-family: monospace;
    font-size: 3.5vw;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    max-width: 50%;
    user-select: none;
    
}

#line {
  margin: 0;
  width: 85%;
  height: 5px;
  background-color: var(--pseudo-red, white);
  border: 0;
}

#line:after {
  content: '';
  display: block;
  transition: all 1s;
  border-bottom: 5px solid var(--pseudo-green, white);
  max-width: var(--correct-percentage, 0%);
}


* {
  box-sizing: border-box;
}

.card {
  padding: 1em;
  text-align: left;
  
  box-shadow: 0 1px 5px #00000099;
  border-radius: 10px;
  
  position: relative;
  
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #ffffff44;
}


/* Bottom Links ----------------------------------------------------------------------------------*/

/* From Uiverse.io by wilsondesouza */ 
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: monospace;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #b7b6b6;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0077B5;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: 	#24292e;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e, 
    #d62976,
    #962fbf, 
    #4f5bd5,
    #4c68d7
  );
} 